CSE 5243 - Yuxiao Zhao (zhao.2379) & Shuo Lin (lin.2237) - April 3 2018

# Lab 4 — Association Rule Mining

In this lab, you'll preprocess a dataset and use the [MLxtend](http://rasbt.github.io/mlxtend/) machine
learning library to mine frequent patterns and association rules.

Please follow all instructions carefully. There are 16 steps. When you are finished, you
will submit your work via Carmen as usual.

**This lab is due on Tuesday, April 3, 2018, at 11:59 PM ET.**

### BEFORE YOU BEGIN: Install the MLxtend machine learning library.

If you're using anaconda, this is realy easy! At the command prompt, enter the following:

```
$ conda install -c conda-forge mlxtend
```

Answer 'yes' to install any dependencies or updates. That's it! If you run into trouble,
[email me right away](mailto:burkhardt.5@osu.edu)!

In [1]:
# These are the libraries you are most likely to need, but you may include others as well.
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

## Part 1. Download the data.

For this lab, you will use the [Zoo dataset](https://archive.ics.uci.edu/ml/datasets/Zoo), which 
is available for download at the UCI Machine Learning Repository.

### 1. Download the file (`zoo.data`). The file should contain 101 rows $\times$ 18 columns.

In [2]:
# If you don't already have a copy of the Iris data file, you can download it here.
DATAURL = "https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data"
import urllib
urllib.request.urlretrieve (DATAURL, "zoo.data")

('zoo.data', <http.client.HTTPMessage at 0x1af1fa5b080>)

## Part 2. Preprocessing

### 2. Use the input data to generate a new data frame with 24 columns, as follows:

| Column No. | Column Name | Description |
|-|-|-|
|1|name| The name of the animal (string)|
|2-16|hair, feathers, ...| All (15) asymmetric binary attributes from the original data file (hair, feathers, etc.)|
|17|has_legs| Does the animal have legs? (1=yes, 0=no) |
|18|mammal|Is the animal a mammal? (1=yes, 0=no) |
|19|bird|Is the animal a bird? (1=yes, 0=no) |
|20|reptile|Is the animal a reptile? (1=yes, 0=no) |
|21|fish|Is the animal a fish? (1=yes, 0=no) |
|22|amphibian|Is the animal an amphibian? (1=yes, 0=no) |
|23|insect|Is the animal an insect? (1=yes, 0=no) |
|24|mollusk|Is the animal a mollusk? (1=yes, 0=no) |

In [3]:
zoo = pd.read_table("zoo.data",sep=',',header = None, names = ["name","hair","feathers","eggs","milk","airborne","aquatic","predator","toothed","backbone","breathes","venomous","fins","legs","tail","domestic","catsize","type","has_legs","mammal","bird","reptile","fish","amphibian","insect","mollusk"])

In [4]:
zoo['has_legs'] = np.where(zoo['legs']>0, 1, 0)
zoo['mammal'] =  np.where(zoo['type']==1, 1, 0)
zoo['bird'] = np.where(zoo['type']==2, 1, 0)
zoo['reptile'] = np.where(zoo['type']==3, 1, 0)
zoo['fish'] = np.where(zoo['type']==4, 1, 0)
zoo['amphibian'] = np.where(zoo['type']==5, 1, 0)
zoo['insect'] = np.where(zoo['type']==6, 1, 0)
zoo['mollusk'] = np.where(zoo['type']==7, 1, 0)

In [5]:
zoo = zoo.drop(['legs','type'],axis=1)
zoo.head()

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,...,domestic,catsize,has_legs,mammal,bird,reptile,fish,amphibian,insect,mollusk
0,aardvark,1,0,0,1,0,0,1,1,1,...,0,1,1,1,0,0,0,0,0,0
1,antelope,1,0,0,1,0,0,0,1,1,...,0,1,1,1,0,0,0,0,0,0
2,bass,0,0,1,0,0,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
3,bear,1,0,0,1,0,0,1,1,1,...,0,1,1,1,0,0,0,0,0,0
4,boar,1,0,0,1,0,0,1,1,1,...,0,1,1,1,0,0,0,0,0,0

### 3. Save the data frame to a CSV file and give it a descriptive name (e.g. `zoo_basket.csv`).

In [6]:
zoo.to_csv("zoo_basket.csv")

## Part 3. Generate Frequent Patterns

### 4. Use the [MLxtend **apriori**](http://rasbt.github.io/mlxtend/api_subpackages/mlxtend.frequent_patterns/#apriori) function to find frequent patterns with $min\_support=0.5$ and $max\_len=5$.

In [7]:
apriori(zoo.iloc[:,1:], min_support=0.5, use_colnames=True, max_len=5)

     support                              itemsets
0   0.584158                                [eggs]
1   0.554455                            [predator]
2   0.603960                             [toothed]
3   0.821782                            [backbone]
4   0.792079                            [breathes]
5   0.742574                                [tail]
6   0.772277                            [has_legs]
7   0.603960                   [toothed, backbone]
8   0.514851                       [toothed, tail]
9   0.683168                  [backbone, breathes]
10  0.732673                      [backbone, tail]
11  0.633663                  [backbone, has_legs]
12  0.603960                      [breathes, tail]
13  0.722772                  [breathes, has_legs]
14  0.564356                      [tail, has_legs]
15  0.514851             [toothed, backbone, tail]
16  0.594059            [backbone, breathes, tail]
17  0.633663        [backbone, breathes, has_legs]
18  0.554455            [backbone, tail, has_legs]
19  0.564356            [breathes, tail, has_legs]
20  0.554455  [backbone, breathes, tail, has_legs]

### 5. How many frequent itemsets were generated? List all the frequent 3-itemsets.

  21 frequent itemsets were generated, all the frequent 3-itemsets are the following:

[toothed, backbone, tail], [backbone, breathes, tail], [backbone, breathes, has_legs], [backbone, tail, has_legs], 
[breathes, tail, has_legs]

### 6. Experiment with different values of $min\_support$ and $max\_len$.
* Are you able to find non-zero values for the parameters $min\_support$ and $max\_len$
  that yield frequent itemsets containing all 7 of the animal type items?
* How many frequent patterns were generated using these parameters?

In [8]:
zoo_set = apriori(zoo.iloc[:,1:], min_support=0.03, use_colnames=True, max_len=1)
for i in range(len(zoo_set.iloc[:,1])):
    if 'mammal' in zoo_set.iloc[i,1]:
        print('mammal is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('mammal is not in the itemsets')
        
for i in range(len(zoo_set.iloc[:,1])):
    if 'bird' in zoo_set.iloc[i,1]:
        print('bird is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('bird is not in the itemsets')
        
for i in range(len(zoo_set.iloc[:,1])):
    if 'reptile' in zoo_set.iloc[i,1]:
        print('reptile is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('reptile is not in the itemsets')
        
for i in range(len(zoo_set.iloc[:,1])):
    if 'fish' in zoo_set.iloc[i,1]:
        print('fish is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('fish is not in the itemsets')
        
for i in range(len(zoo_set.iloc[:,1])):
    if 'amphibian' in zoo_set.iloc[i,1]:
        print('amphibian is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('amphibian is not in the itemsets')
        
for i in range(len(zoo_set.iloc[:,1])):
    if 'insect' in zoo_set.iloc[i,1]:
        print('insect is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('insect is not in the itemsets')
        
for i in range(len(zoo_set.iloc[:,1])):
    if 'mollusk' in zoo_set.iloc[i,1]:
        print('mollusk is in the itemsets')
        break
    if i == len(zoo_set.iloc[:,1])-1:
        print('mollusk is not in the itemsets')

mammal is in the itemsets
bird is in the itemsets
reptile is in the itemsets
fish is in the itemsets
amphibian is in the itemsets
insect is in the itemsets
mollusk is in the itemsets

In [9]:
zoo_set.shape

(23, 2)

23 frequent itemsets are generated using the parameters: min_support=0.03, max_len=1

## Part 4. Association Rule Mining

### 7. What is the maximum number of association rules that can be extracted from this dataset, including rules that have zero support?

There are 23 attributes in the datasets. Each attribute could be in the antecedent, consequent, or not the rule (three possibilities). It is not possible that there is one or zero attribute in the rule. 
3^23-2^24+1 = 94,126,401,612 is the maximum number of rules that can be extracted from this dataset.

### 8. Regenerate frequent patterns using $min\_support=0.1$ and $max\_len=5$.

In [10]:
zoo_freqsets = apriori(zoo.iloc[:,1:], min_support=0.1, use_colnames=True, max_len=5)
zoo_freqsets.head()

    support    itemsets
0  0.425743      [hair]
1  0.198020  [feathers]
2  0.584158      [eggs]
3  0.405941      [milk]
4  0.237624  [airborne]

### 9. Use the [MLxtend **association_rules**](http://rasbt.github.io/mlxtend/api_subpackages/mlxtend.frequent_patterns/#association_rules) function to find association rules with $min\_threshold=0.7$.

In [11]:
zoo_rules = association_rules(zoo_freqsets, metric='confidence', min_threshold=0.7)
zoo_rules.head()

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(hair),(milk),0.425743,0.405941,0.386139,0.906977,2.23426,0.213312,6.386139
1,(milk),(hair),0.405941,0.425743,0.386139,0.951220,2.23426,0.213312,11.772277
2,(hair),(toothed),0.425743,0.603960,0.376238,0.883721,1.46321,0.119106,3.405941
3,(hair),(backbone),0.425743,0.821782,0.386139,0.906977,1.10367,0.036271,1.915842
4,(hair),(breathes),0.425743,0.792079,0.425743,1.000000,1.26250,0.088521,inf

### 10. How many association rules were found?

In [12]:
zoo_rules.shape[0]

8584

8584 association rules were found.

### 11. Construct a contingency table for the rule

$$ \{predator, catsize, toothed, mammal\} \rightarrow \{tail\} $$

In [13]:
rule_table = pd.DataFrame(index = ['{predator,catsize,toothed,mammal}','not {predator,catsize,toothed,mammal}','total'],
                         columns = ['tail','not tail', 'total'])

In [14]:
rule_table.loc['{predator,catsize,toothed,mammal}','tail'] = len(zoo[(zoo['predator']==1) & (zoo['catsize']==1) & (zoo['toothed']==1) & (zoo['mammal']==1) & (zoo['tail']==1)])
rule_table.loc['{predator,catsize,toothed,mammal}','not tail'] = len(zoo[(zoo['predator']==1) & (zoo['catsize']==1) & (zoo['toothed']==1) & (zoo['mammal']==1) & (zoo['tail']==0)])
rule_table.loc['{predator,catsize,toothed,mammal}','total'] = len(zoo[(zoo['predator']==1) & (zoo['catsize']==1) & (zoo['toothed']==1) & (zoo['mammal']==1)])
rule_table.loc['not {predator,catsize,toothed,mammal}','tail'] = len(zoo[((zoo['predator']==0) | (zoo['catsize']==0) | (zoo['toothed']==0) | (zoo['mammal']==0)) & (zoo['tail']==1)])
rule_table.loc['not {predator,catsize,toothed,mammal}','not tail'] = len(zoo[((zoo['predator']==0) | (zoo['catsize']==0) | (zoo['toothed']==0) | (zoo['mammal']==0)) & (zoo['tail']==0)])
rule_table.loc['not {predator,catsize,toothed,mammal}','total'] = len(zoo[(zoo['predator']==0) | (zoo['catsize']==0) | (zoo['toothed']==0) | (zoo['mammal']==0)])
rule_table.loc['total','tail'] = len(zoo[(zoo['tail']==1)])
rule_table.loc['total','not tail'] = len(zoo[(zoo['tail']==0)])
rule_table.loc['total','total'] = len(zoo)
rule_table

                                       tail  not tail  total
{predator,catsize,toothed,mammal}        15         4     19
not {predator,catsize,toothed,mammal}    60        22     82
total                                    75        26    101

### 12. Use the contingency table to compute support for the rule. Does your result agree with the output from the *association_rules* function?

In [15]:
support = rule_table.iloc[0,0]/rule_table.iloc[2,2]
print('support of the rule is %f'%support)

support of the rule is 0.148515

In [16]:
zoo_rules.iloc[8077,:]

antecedants           (predator, tail, catsize, toothed)
consequents                                     (mammal)
antecedent support                              0.188119
consequent support                              0.405941
support                                         0.148515
confidence                                      0.789474
lift                                              1.9448
leverage                                       0.0721498
conviction                                       2.82178
Name: 8077, dtype: object

It agrees with the association_rules function.

### 13. List the "most interesting" rules—those with the highest measures of confidence, lift, and leverage. If there are ties (i.e. more than one rule sharing the highest value) then show them all.

In [17]:
# Those with highest leverage
zoo_rules_max = zoo_rules[(zoo_rules['leverage'] == (zoo_rules['leverage'].max()))]
zoo_rules_max

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
30,(mammal),(milk),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
31,(milk),(mammal),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
405,"(backbone, mammal)",(milk),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
406,"(backbone, milk)",(mammal),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
408,(mammal),"(backbone, milk)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
409,(milk),"(backbone, mammal)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
421,"(breathes, mammal)",(milk),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
422,"(breathes, milk)",(mammal),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
424,(mammal),"(breathes, milk)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
425,(milk),"(breathes, mammal)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2305,"(backbone, breathes, mammal)",(milk),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2306,"(backbone, breathes, milk)",(mammal),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2309,"(backbone, mammal)","(breathes, milk)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2310,"(backbone, milk)","(breathes, mammal)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2311,"(breathes, mammal)","(backbone, milk)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2312,"(breathes, milk)","(backbone, mammal)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2314,(mammal),"(backbone, breathes, milk)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
2315,(milk),"(backbone, breathes, mammal)",0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf

In [18]:
# Those with higheset lift
zoo_rules_max = zoo_rules[(zoo_rules['lift'] == (zoo_rules['lift'].max()))]
zoo_rules_max

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
344,"(eggs, fins)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
346,(fish),"(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1880,"(eggs, aquatic, fins)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1883,"(eggs, fins)","(aquatic, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1887,"(aquatic, fish)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1889,(fish),"(eggs, aquatic, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1935,"(eggs, fins, toothed)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1938,"(eggs, fins)","(fish, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1942,"(fish, toothed)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1944,(fish),"(eggs, fins, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1973,"(backbone, eggs, fins)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1976,"(backbone, fish)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1979,"(eggs, fins)","(backbone, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
1981,(fish),"(backbone, eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
2029,"(eggs, tail, fins)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
2032,"(eggs, fins)","(fish, tail)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
2033,"(fish, tail)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
2036,(fish),"(eggs, tail, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6300,"(fins, eggs, aquatic, toothed)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6304,"(fins, eggs, toothed)","(aquatic, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6307,"(aquatic, fish, toothed)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6311,"(eggs, aquatic, fins)","(fish, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6313,"(fish, toothed)","(eggs, aquatic, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6316,"(eggs, fins)","(aquatic, fish, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6318,"(aquatic, fish)","(fins, eggs, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6320,(fish),"(fins, eggs, aquatic, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6364,"(backbone, eggs, aquatic, fins)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6368,"(backbone, eggs, fins)","(aquatic, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6370,"(backbone, aquatic, fish)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6374,"(eggs, aquatic, fins)","(backbone, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
...,...,...,...,...,...,...,...,...,...
6409,"(eggs, tail, fins)","(aquatic, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6412,"(aquatic, fish, tail)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6415,"(eggs, fins)","(aquatic, fish, tail)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6417,"(aquatic, fish)","(eggs, tail, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6418,"(fish, tail)","(eggs, aquatic, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6421,(fish),"(eggs, aquatic, tail, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6460,"(backbone, eggs, fins, toothed)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6464,"(backbone, fish, toothed)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6467,"(backbone, eggs, fins)","(fish, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6470,"(fins, eggs, toothed)","(backbone, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6473,"(backbone, fish)","(fins, eggs, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6475,"(fish, toothed)","(backbone, eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6478,"(eggs, fins)","(backbone, fish, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6480,(fish),"(backbone, eggs, fins, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6501,"(fins, eggs, tail, toothed)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6505,"(fins, eggs, toothed)","(fish, tail)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6508,"(fish, tail, toothed)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6512,"(eggs, tail, fins)","(fish, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6514,"(fish, toothed)","(eggs, tail, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6517,"(eggs, fins)","(fish, tail, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6519,"(fish, tail)","(fins, eggs, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6521,(fish),"(fins, eggs, tail, toothed)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6567,"(backbone, eggs, tail, fins)",(fish),0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6571,"(backbone, eggs, fins)","(fish, tail)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6573,"(backbone, fish, tail)","(eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6577,"(eggs, tail, fins)","(backbone, fish)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6579,"(backbone, fish)","(eggs, tail, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6582,"(eggs, fins)","(backbone, fish, tail)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6584,"(fish, tail)","(backbone, eggs, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf
6586,(fish),"(backbone, eggs, tail, fins)",0.128713,0.128713,0.128713,1.0,7.769231,0.112146,inf

In [19]:
# Those with higheset confidence
zoo_rules_max = zoo_rules[(zoo_rules['confidence'] == (zoo_rules['confidence'].max()))]
zoo_rules_max

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(hair),(breathes),0.425743,0.792079,0.425743,1.0,1.262500,0.088521,inf
9,(feathers),(eggs),0.198020,0.584158,0.198020,1.0,1.711864,0.082345,inf
11,(feathers),(backbone),0.198020,0.821782,0.198020,1.0,1.216867,0.035291,inf
12,(feathers),(breathes),0.198020,0.792079,0.198020,1.0,1.262500,0.041172,inf
13,(feathers),(tail),0.198020,0.742574,0.198020,1.0,1.346667,0.050975,inf
14,(feathers),(has_legs),0.198020,0.772277,0.198020,1.0,1.294872,0.045094,inf
15,(feathers),(bird),0.198020,0.198020,0.198020,1.0,5.050000,0.158808,inf
16,(bird),(feathers),0.198020,0.198020,0.198020,1.0,5.050000,0.158808,inf
21,(bird),(eggs),0.198020,0.584158,0.198020,1.0,1.711864,0.082345,inf
22,(fish),(eggs),0.128713,0.584158,0.128713,1.0,1.711864,0.053524,inf
24,(milk),(backbone),0.405941,0.821782,0.405941,1.0,1.216867,0.072346,inf
25,(milk),(breathes),0.405941,0.792079,0.405941,1.0,1.262500,0.084403,inf
30,(mammal),(milk),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
31,(milk),(mammal),0.405941,0.405941,0.405941,1.0,2.463415,0.241153,inf
33,(airborne),(breathes),0.237624,0.792079,0.237624,1.0,1.262500,0.049407,inf
35,(airborne),(has_legs),0.237624,0.772277,0.237624,1.0,1.294872,0.054112,inf
39,(fins),(aquatic),0.168317,0.356436,0.168317,1.0,2.805556,0.108323,inf
41,(fish),(aquatic),0.128713,0.356436,0.128713,1.0,2.805556,0.082835,inf
46,(toothed),(backbone),0.603960,0.821782,0.603960,1.0,1.216867,0.107637,inf
48,(fins),(toothed),0.168317,0.603960,0.168317,1.0,1.655738,0.066660,inf
52,(fish),(toothed),0.128713,0.603960,0.128713,1.0,1.655738,0.050975,inf
55,(fins),(backbone),0.168317,0.821782,0.168317,1.0,1.216867,0.029997,inf
62,(mammal),(backbone),0.405941,0.821782,0.405941,1.0,1.216867,0.072346,inf
63,(bird),(backbone),0.198020,0.821782,0.198020,1.0,1.216867,0.035291,inf
64,(fish),(backbone),0.128713,0.821782,0.128713,1.0,1.216867,0.022939,inf
71,(mammal),(breathes),0.405941,0.792079,0.405941,1.0,1.262500,0.084403,inf
72,(bird),(breathes),0.198020,0.792079,0.198020,1.0,1.262500,0.041172,inf
74,(fish),(fins),0.128713,0.168317,0.128713,1.0,5.941176,0.107048,inf
80,(bird),(tail),0.198020,0.742574,0.198020,1.0,1.346667,0.050975,inf
81,(fish),(tail),0.128713,0.742574,0.128713,1.0,1.346667,0.033134,inf
...,...,...,...,...,...,...,...,...,...
8462,"(catsize, has_legs, tail, toothed)",(mammal),0.237624,0.405941,0.237624,1.0,2.463415,0.141163,inf
8477,"(backbone, catsize, has_legs, tail)",(breathes),0.316832,0.792079,0.316832,1.0,1.262500,0.065876,inf
8479,"(catsize, has_legs, tail, breathes)",(backbone),0.316832,0.821782,0.316832,1.0,1.216867,0.056465,inf
8484,"(catsize, has_legs, tail)","(backbone, breathes)",0.316832,0.683168,0.316832,1.0,1.463768,0.100382,inf
8493,"(backbone, catsize, mammal, tail)",(breathes),0.267327,0.792079,0.267327,1.0,1.262500,0.055583,inf
8495,"(catsize, mammal, tail, breathes)",(backbone),0.267327,0.821782,0.267327,1.0,1.216867,0.047642,inf
8501,"(catsize, mammal, tail)","(backbone, breathes)",0.267327,0.683168,0.267327,1.0,1.463768,0.084698,inf
8507,"(backbone, mammal, has_legs, tail)",(breathes),0.326733,0.792079,0.326733,1.0,1.262500,0.067935,inf
8509,"(breathes, has_legs, mammal, tail)",(backbone),0.326733,0.821782,0.326733,1.0,1.216867,0.058230,inf
8514,"(mammal, has_legs, tail)","(backbone, breathes)",0.326733,0.683168,0.326733,1.0,1.463768,0.103519,inf
8521,"(backbone, breathes, bird, has_legs)",(tail),0.198020,0.742574,0.198020,1.0,1.346667,0.050975,inf
8522,"(backbone, bird, has_legs, tail)",(breathes),0.198020,0.792079,0.198020,1.0,1.262500,0.041172,inf
8523,"(backbone, breathes, bird, tail)",(has_legs),0.198020,0.772277,0.198020,1.0,1.294872,0.045094,inf
8524,"(breathes, bird, has_legs, tail)",(backbone),0.198020,0.821782,0.198020,1.0,1.216867,0.035291,inf
8525,"(backbone, bird, has_legs)","(breathes, tail)",0.198020,0.603960,0.198020,1.0,1.655738,0.078424,inf
8526,"(backbone, breathes, bird)","(has_legs, tail)",0.198020,0.564356,0.198020,1.0,1.771930,0.086266,inf
8527,"(backbone, bird, tail)","(breathes, has_legs)",0.198020,0.722772,0.198020,1.0,1.383562,0.054897,inf
8528,"(breathes, bird, has_legs)","(backbone, tail)",0.198020,0.732673,0.198020,1.0,1.364865,0.052936,inf
8529,"(bird, has_legs, tail)","(backbone, breathes)",0.198020,0.683168,0.198020,1.0,1.463768,0.062739,inf
8530,"(breathes, bird, tail)","(backbone, has_legs)",0.198020,0.633663,0.198020,1.0,1.578125,0.072542,inf
8531,"(backbone, bird)","(breathes, has_legs, tail)",0.198020,0.564356,0.198020,1.0,1.771930,0.086266,inf
8532,"(bird, has_legs)","(backbone, breathes, tail)",0.198020,0.594059,0.198020,1.0,1.683333,0.080384,inf
8533,"(breathes, bird)","(backbone, has_legs, tail)",0.198020,0.554455,0.198020,1.0,1.803571,0.088227,inf
8534,"(bird, tail)","(backbone, breathes, has_legs)",0.198020,0.633663,0.198020,1.0,1.578125,0.072542,inf
8535,(bird),"(backbone, breathes, has_legs, tail)",0.198020,0.554455,0.198020,1.0,1.803571,0.088227,inf
8537,"(backbone, catsize, has_legs, mammal)",(breathes),0.287129,0.792079,0.287129,1.0,1.262500,0.059700,inf
8540,"(catsize, has_legs, mammal, breathes)",(backbone),0.287129,0.821782,0.287129,1.0,1.216867,0.051171,inf
8547,"(catsize, has_legs, mammal)","(backbone, breathes)",0.287129,0.683168,0.287129,1.0,1.463768,0.090971,inf
8561,"(catsize, has_legs, mammal, tail)",(backbone),0.247525,0.821782,0.247525,1.0,1.216867,0.044113,inf
8572,"(catsize, has_legs, mammal, tail)",(breathes),0.247525,0.792079,0.247525,1.0,1.262500,0.051466,inf

## Part 5. Association Rules as Predictors

### 14. How many association rules were found in which the consequent contains exactly one element, and that element is one of the 7 animal types?

(Let's call this "Ruleset 2". Save these to another data frame or matrix, and answer
the remaining questions in this section based ONLY ON RULESET2.)

In [20]:
Ruleset2  = zoo_rules[(zoo_rules['consequents'] == {'mammal'}) | (zoo_rules['consequents'] == {'bird'}) | (zoo_rules['consequents'] == {'reptile'}) | 
                      (zoo_rules['consequents'] == {'fish'}) | (zoo_rules['consequents'] == {'amphibian'}) | (zoo_rules['consequents'] == {'insect'}) | (zoo_rules['consequents'] == {'mollusk'})]
Ruleset2.sample(5)

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3318,"(predator, hair, milk, breathes)",(mammal),0.198020,0.405941,0.198020,1.000000,2.463415,0.117636,inf
2271,"(has_legs, milk, toothed)",(mammal),0.366337,0.405941,0.366337,1.000000,2.463415,0.217626,inf
3988,"(backbone, has_legs, hair, milk)",(mammal),0.376238,0.405941,0.376238,1.000000,2.463415,0.223507,inf
8084,"(predator, has_legs, tail, toothed)",(mammal),0.168317,0.405941,0.148515,0.882353,2.173601,0.080188,5.049505
1314,"(backbone, has_legs, hair)",(mammal),0.376238,0.405941,0.376238,1.000000,2.463415,0.223507,inf

In [21]:
Ruleset2.shape[0]

317

There are 317 rules in this case.

### 15. How many rules are there for each animal type?

In [22]:
print("There are %d rules for mammal."%len(Ruleset2[Ruleset2['consequents']=={'mammal'}]))
print("There are %d rules for bird."%len(Ruleset2[Ruleset2['consequents']=={'bird'}]))
print("There are %d rules for reptile."%len(Ruleset2[Ruleset2['consequents']=={'reptile'}]))
print("There are %d rules for fish."%len(Ruleset2[Ruleset2['consequents']=={'fish'}]))
print("There are %d rules for insect."%len(Ruleset2[Ruleset2['consequents']=={'insect'}]))
print("There are %d rules for amphibian."%len(Ruleset2[Ruleset2['consequents']=={'amphibian'}]))
print("There are %d rules for mollusk."%len(Ruleset2[Ruleset2['consequents']=={'mollusk'}]))

There are 215 rules for mammal.
There are 71 rules for bird.
There are 0 rules for reptile.
There are 31 rules for fish.
There are 0 rules for insect.
There are 0 rules for amphibian.
There are 0 rules for mollusk.

## 6. Thought Experiment

Don't implement anything for this section. Just write out your answer in a markdown cell.

### 16. Explain how you might use association rules to suggest an animal's type based on the other attributes. Based on your observations, what changes would you make in the frequent itemset generation and rule generation steps?

I will select the rules with highest support and confidence which has the one of the animal type as the consequent. Use those antecdents to predict the animal type.

I will increase the max_length, decrease the confidence threshold or decrease min_support to regenerate frequent itemsets and associate rules which will cover at least six of all the animal types. For each animal type, I will choose one rule with highest support and confidence. Last I will use these rules to predict the animal type using these attributes.

## 7. Submit your work

**Submit your completed notebook, along with the data file you created in Part 2, via Carmen as LAB 4.**